<!-- Start your project here-->
<div style="height: 100vh">
  <div class="flex-center flex-column">
    <h1 class="animated fadeIn mb-4">Material Design for Bootstrap (Angular)</h1>

    <h5 class="animated fadeIn mb-3">Thank you for using our product. We're glad you're with us.</h5>
    <h6 class="animated fadeIn mb-3">Start browsing <a href="https://mdbootstrap.com/angular">documentation</a>.</h6>

    <p class="animated fadeIn text-muted">MDB Team</p>
    <form id="rendered-form"><div class="rendered-form"><div class=""><h1 access="false" id="control-4707203"><div>Login</div></h1></div><div class="formbuilder-text form-group field-text-1587945734452"><label for="text-1587945734452" class="formbuilder-text-label">username<span class="formbuilder-required">*</span><span class="tooltip-element" tooltip="username">?</span></label><input type="text" placeholder="username" class="form-control" name="text-1587945734452" access="false" value="" maxlength="32" id="text-1587945734452" title="username" required="required" aria-required="true"></div><div class="formbuilder-text form-group field-text-1587945785984"><label for="text-1587945785984" class="formbuilder-text-label">Password<br><span class="formbuilder-required">*</span><span class="tooltip-element" tooltip="Password">?</span></label><input type="password" placeholder="password" class="form-control" name="text-1587945785984" access="false" value="" maxlength="32" id="text-1587945785984" title="Password" required="required" aria-required="true"></div><div class="formbuilder-button form-group field-button-1587945609448"><button type="submit" class="btn-default btn" name="button-1587945609448" access="false" style="default" id="button-1587945609448">Login<br></button></div></div></form>

  </div>
</div>

<!-- Start your project here -->
